<td class="select">
  <input type="checkbox" name="{{selected selected}}" />
</td>
<td class="client_id">{{name}}</td>
<td class="public_ip">{{address}}</td>
<td class="timestamp">{{timestamp}}</td>
<td class="subscriptions">{{subscriptions}}</td>
