<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 id="modal_label">
      <span>{{client.name}}</span>
    </h4>
</div>
<div class="modal-body">
  <h3 class="section_title">client data</h3>
  {{#each client}}
    <div class="well">
      <h5>{{@key}}</h5>
      <span>
        {{#if this}}
          {{this}}
        {{else}}
          false / nil
        {{/if}}
      </span>
    </div>
  {{/each}}
</div>
<div class="modal-footer">
  <button id="silence_client" class="btn btn-danger">
    {{#isClientSilenced client.name stashes}}
      <i class="icon-volume-off icon-white" />
      <span>&nbsp;Un-silence Client</span>
    {{else}}
      <i class="icon-volume-up icon-white" />
      <span>&nbsp;Silence Client</span>
    {{/isClientSilenced}}
  </button>
</div>
