<div id="info_label" class="form-stacked">
  <h4>Sensu & Dashboard Info</h4>
</div>

<table id="info_table" class="table table-bordered">
  <thead>
    <tr>
      <th class="col_info_name">Name</th>
      <th class="col_info_value">Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Sensu Version</td>
      <td>{{sensu.version}}</td>
    </tr>
    <tr>
      <td>Sensu Dashboard Version</td>
      <td>{{sensu_dashboard.version}}</td>
    </tr>
    <tr>
      <td>Sensu Dashboard Poll Frequency</td>
      <td>{{sensu_dashboard.poll_frequency}} seconds</td>
    </tr>
    <tr>
      <td>RabbitMQ</td>
      <td>{{rmq_status}}</td>
    </tr>
    <tr>
      <td>Keepalive Messages</td>
      <td>{{rabbitmq.keepalives.messages}}</td>
    </tr>
    <tr>
      <td>Keepalive Consumers</td>
      <td>{{rabbitmq.keepalives.consumers}}</td>
    </tr>
    <tr>
      <td>Result Messages</td>
      <td>{{rabbitmq.results.messages}}</td>
    </tr>
    <tr>
      <td>Result Consumers</td>
      <td>{{rabbitmq.results.consumers}}</td>
    </tr>
    <tr>
      <td>Redis</td>
      <td>{{redis_status}}</td>
    </tr>
    <tr>
    </tr>
    <tr>
    </tr>
  </tbody>
</table>
