<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 id="modal_label">
      <span>{{event.client.name}}</span><br />
      <small>{{event.check.name}}</small>
    </h4>
</div>
<div class="modal-body">
  <h3 class="section_title">event data</h3>
  <div class="well">
  {{#each event}}
    {{#if this}}
      <strong>{{@key}}</strong> <span class="modal_value">{{{modalValue this}}}</span><br/>
    {{/if}}
  {{/each}}
  </div>
</div>
<div class="modal-footer">
  <button id="silence_check" class="btn btn-danger">
    {{#if event.silenced}}
      <i class="icon-volume-off icon-white" />
      <span>&nbsp;Un-silence Check</span>
    {{else}}
      <i class="icon-volume-up icon-white" />
      <span>&nbsp;Silence Check</span>
    {{/if}}
  </button>
  <button id="resolve_check" class="btn btn-danger">
    <i class="icon-ok icon-white" />
    <span>&nbsp;Resolve</span>
  </button>
</div>
