<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 id="modal_label">
      <span>{{event.client}}</span><br />
      <small>{{event.check}}</small>
    </h4>
</div>
<div class="modal-body">
  <h3 class="section_title">event data</h3>
  <div class="well">
  {{#each event}}
    {{#if this}}
      <strong>{{@key}}</strong> <span class="modal_value">{{{modalValue this}}}</span><br/>
    {{/if}}
  {{/each}}
  </div>

  <h3 class="section_title">client data</h3>
  <div class="well">
  {{#each client}}
    {{#if this}}
      <strong>{{@key}}</strong> <span class="modal_value">{{{modalValue this}}}</span><br />
    {{/if}}
  {{/each}}
  </div>
</div>
<div class="modal-footer">
  {{#if client.silenced}}
    <button id="silence_client" class="btn btn-danger">
      <i class="icon-volume-off icon-white" />
      <span>&nbsp;Un-silence Client</span>
    </button>
  {{else}}
    Expire (seconds): <input id="silence_client_expire" type="text" value="{{client.expire}}" />
    <button id="silence_client" class="btn btn-danger">
      <i class="icon-volume-up icon-white" />
      <span>&nbsp;Silence Client</span>
    </button>
  {{/if}}
  {{#if event.silenced}}
    <button id="silence_check" class="btn btn-danger">
      <i class="icon-volume-off icon-white" />
      <span>&nbsp;Un-silence Check</span>
    </button>
  {{else}}
    Expire (seconds): <input id="silence_check_expire" type="text" value="{{event.expire}}" />
    <button id="silence_check" class="btn btn-danger">
      <i class="icon-volume-up icon-white" />
      <span>&nbsp;Silence Check</span>
    </button>
  {{/if}}
  <button id="resolve_check" class="btn btn-danger">
    <i class="icon-ok icon-white" />
    <span>&nbsp;Resolve</span>
  </button>
</div>
