<td class="select"><input type="checkbox" {{selected selected}}/></td>
<td class="check_id">{{name}}</td>
<td class="command">{{command}}</td>
<td class="interval">{{interval}}</td>
<td class="subscribers">{{subscribers}}</td>
<td class="standalone">{{standalone}}</td>
